.todo-list-item .btn-container {
	visibility: hidden;
	cursor: pointer;
	position: absolute;
	right: 10px;
    margin-top: -3px;
}

.todo-list-item:hover .btn-container {
	visibility: visible;
}

.todo-list-item.checked span {
	text-decoration: line-through;
	color: grey;
}